name: Build libspecprober library (Linux - AMD64)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          ref: ${{ github.ref }}
      - name: libspecprober compilation
        run: |
          cd interop/libspecprober ; cmake . ; make
      - name: libspecprober artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "libspecprober library Linux AMD64"
          path: interop/libspecprober/libspecprober.so
